.main-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.location-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #062226;
    border-radius: 25px;
    color: white;
    box-shadow: 12px 15px 57px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 12px 15px 57px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 12px 15px 57px 2px rgba(0, 0, 0, 0.8);
}

.location-title {
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 5px;
}

.location-list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.location-item>span {
    color: rgb(9, 145, 81);
}