@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}

h1,
h2,
h3,
h4,
p,
ul{
    margin-top: 0;
    margin-bottom: 0;
}
button{
    display: block;
    border: none;
}
ul{
    padding-left: 0;
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
input{
    outline: none;
}